## A. L·∫•y th√¥ng tin kh√°ch h√†ng

## 1. Import th∆∞ vi·ªán & Config

In [1]:
import os
import json
import time
import random
import requests
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.dialects.mysql import LONGTEXT, VARCHAR
from sqlalchemy.types import BigInteger, DateTime
from dotenv import load_dotenv
from datetime import datetime

# Load bi·∫øn m√¥i tr∆∞·ªùng
load_dotenv()

API_KEY   = os.getenv("API_KEY")
DB_USER   = os.getenv("DB_USER")
DB_PASS   = os.getenv("DB_PASS")
DB_HOST   = os.getenv("DB_HOST")
DB_PORT   = os.getenv("DB_PORT")
DB_BRONZE = os.getenv("DB_BRONZE")
SHOP_ID   = os.getenv("SHOP_ID")  # SHOP_ID trong .env

In [18]:
engine_bronze = create_engine(
    f"mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_BRONZE}"
)

print(f"‚úÖ K·∫øt n·ªëi th√†nh c√¥ng t·ªõi Bronze: {DB_BRONZE}")

‚úÖ K·∫øt n·ªëi th√†nh c√¥ng t·ªõi Bronze: winner_bronze

In [3]:
def get_customers_page(shop_id, page=1, page_size=1000, max_retries=3):
    """
    G·ªçi API /shops/{shop_id}/customers ƒë·ªÉ l·∫•y m·ªôt trang kh√°ch h√†ng
    """
    url = f"https://pos.pages.fm/api/v1/shops/{shop_id}/customers"
    params = {"api_key": API_KEY, "page": page, "page_size": page_size}
    
    for attempt in range(1, max_retries + 1):
        try:
            resp = requests.get(url, params=params, timeout=60)
            if resp.status_code == 200:
                j = resp.json()
                data = j.get("data", [])
                total_pages = j.get("total_pages") or j.get("meta", {}).get("total_pages")
                return data, total_pages
            else:
                print(f"‚ö†Ô∏è L·ªói {resp.status_code} t·∫°i page {page}, attempt {attempt}")
        except Exception as e:
            print(f"‚ö†Ô∏è Exception t·∫°i page {page}: {e}, attempt {attempt}")
        time.sleep(5 * attempt)
    return [], None

In [4]:
def insert_customers_batch(df_batch):
    df_batch.to_sql(
        "customers_raw",
        con=engine_bronze,
        if_exists="append",
        index=False,
        dtype={
            "shop_id": BigInteger(),
            "customer_id": VARCHAR(50),   # id kh√°ch c√≥ th·ªÉ l√† chu·ªói
            "raw_json": LONGTEXT(),
            "extracted_at": DateTime()
        }
    )

In [5]:
def fetch_and_load_customers(shop_id, start_page=1, page_size=1000):
    page = start_page
    while True:
        customers, total_pages = get_customers_page(shop_id, page, page_size)
        if not customers:
            print("üì¶ Kh√¥ng c√≤n d·ªØ li·ªáu t·∫°i page", page)
            break

        df_batch = pd.DataFrame([{
            "shop_id": shop_id,
            "customer_id": cust.get("id"),
            "raw_json": json.dumps(cust, ensure_ascii=False),
            "extracted_at": datetime.now()
        } for cust in customers])

        insert_customers_batch(df_batch)
        print(f"‚úÖ Page {page}/{total_pages} - Loaded {len(customers)} customers")

        if total_pages and page >= total_pages:
            break

        time.sleep(random.uniform(1, 3))  # ng·ªß ng·∫´u nhi√™n ƒë·ªÉ tr√°nh b·ªã block
        page += 1

In [6]:
fetch_and_load_customers(SHOP_ID, start_page=1, page_size=1000)

‚úÖ Page 1/37 - Loaded 1000 customers
‚úÖ Page 2/37 - Loaded 1000 customers
‚úÖ Page 3/37 - Loaded 1000 customers
‚úÖ Page 4/37 - Loaded 1000 customers
‚úÖ Page 5/37 - Loaded 1000 customers
‚úÖ Page 6/37 - Loaded 1000 customers
‚úÖ Page 7/37 - Loaded 1000 customers
‚úÖ Page 8/37 - Loaded 1000 customers
‚úÖ Page 9/37 - Loaded 1000 customers
‚úÖ Page 10/37 - Loaded 1000 customers
‚úÖ Page 11/37 - Loaded 1000 customers
‚úÖ Page 12/37 - Loaded 1000 customers
‚úÖ Page 13/37 - Loaded 1000 customers
‚úÖ Page 14/37 - Loaded 1000 customers
‚úÖ Page 15/37 - Loaded 1000 customers
‚úÖ Page 16/37 - Loaded 1000 customers
‚úÖ Page 17/37 - Loaded 1000 customers
‚úÖ Page 18/37 - Loaded 1000 customers
‚úÖ Page 19/37 - Loaded 1000 customers
‚úÖ Page 20/37 - Loaded 1000 customers
‚úÖ Page 21/37 - Loaded 1000 customers
‚úÖ Page 22/37 - Loaded 1000 customers
‚úÖ Page 23/37 - Loaded 1000 customers
‚úÖ Page 24/37 - Loaded 1000 customers
‚úÖ Page 25/37 - Loaded 1000 customers
‚úÖ Page 26/37 - Loaded 1000 customers
‚úÖ Page 27/37 - Loaded 1000 customers
‚úÖ Page 28/37 - Loaded 1000 customers
‚úÖ Page 29/37 - Loaded 1000 customers
‚úÖ Page 30/37 - Loaded 1000 customers
‚úÖ Page 31/37 - Loaded 1000 customers
‚úÖ Page 32/37 - Loaded 1000 customers
‚úÖ Page 33/37 - Loaded 1000 customers
‚úÖ Page 34/37 - Loaded 1000 customers
‚úÖ Page 35/37 - Loaded 1000 customers
‚úÖ Page 36/37 - Loaded 1000 customers
‚úÖ Page 37/37 - Loaded 90 customers

## B. L·∫•y th√¥ng tin ƒë·ªãa l√Ω

In [14]:
BASE_URL = "https://pos.pages.fm/api/v1"
headers = {"Authorization": f"Bearer {API_KEY}"}

In [15]:
# H√†m g·ªçi API

def fetch_api(endpoint, params=None):
    url = f"{BASE_URL}{endpoint}"
    try:
        res = requests.get(url, headers=headers, params=params, timeout=30)
        res.raise_for_status()
        return res.json().get("data", [])
    except Exception as e:
        print(f"‚ùå L·ªói khi g·ªçi API {url}: {e}")
        return []

In [16]:
# L·∫•y danh m·ª•c t·ªânh/th√†nh ph·ªë

def get_provinces():
    provinces = fetch_api("/geo/provinces", params={"country_code": "84"})
    print(f"‚úÖ L·∫•y ƒë∆∞·ª£c {len(provinces)} t·ªânh/th√†nh")

    df = pd.DataFrame([{
        "province_id": p["id"],
        "province_name": p["name"]
    } for p in provinces])

    return df

# Ch·∫°y th·ª≠
df_provinces = get_provinces()
df_provinces.head()

‚úÖ L·∫•y ƒë∆∞·ª£c 63 t·ªânh/th√†nh

  province_id province_name
0         805      An Giang
1         221     B·∫Øc Giang
2         207       B·∫Øc K·∫°n
3         821      B·∫°c Li√™u
4         106      B·∫Øc Ninh

In [13]:
df_provinces

   province_id province_name
0          805      An Giang
1          221     B·∫Øc Giang
2          207       B·∫Øc K·∫°n
3          821      B·∫°c Li√™u
4          106      B·∫Øc Ninh
..         ...           ...
58         817      Tr√† Vinh
59         211   Tuy√™n Quang
60         809     Vƒ©nh Long
61         104     Vƒ©nh Ph√∫c
62         213       Y√™n B√°i

[63 rows x 2 columns]

In [19]:
df_provinces.to_sql(
    name="province_raw",   # t√™n b·∫£ng trong MySQL
    con=engine_bronze,            # k·∫øt n·ªëi t·ªõi Bronze DB
    if_exists="replace",          # ghi ƒë√®, d√πng "append" n·∫øu mu·ªën th√™m d·ªØ li·ªáu
    index=False,
    dtype={
        "province_id": VARCHAR(20),
        "province_name": VARCHAR(255)
    }
)
print("‚úÖ ƒê√£ l∆∞u b·∫£ng province_raw v√†o Bronze DB")

‚úÖ ƒê√£ l∆∞u b·∫£ng province_raw v√†o Bronze DB