## Notebook: Transform d·ªØ li·ªáu t·ª´ t·∫ßng broze l√™n t·∫ßng silver

### 1: Import & Connect DB

In [ ]:
import os
import json
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import BigInteger, Integer, Float, DateTime, Text, VARCHAR
from dotenv import load_dotenv

# Load bi·∫øn m√¥i tr∆∞·ªùng
load_dotenv()

DB_USER   = os.getenv("DB_USER")
DB_PASS   = os.getenv("DB_PASS")
DB_HOST   = os.getenv("DB_HOST")
DB_PORT   = os.getenv("DB_PORT")
DB_BRONZE = os.getenv("DB_BRONZE")
DB_SILVER = os.getenv("DB_SILVER")

# T·∫°o k·∫øt n·ªëi
bronze_engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_BRONZE}")
silver_engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_SILVER}")

print("‚úÖ ƒê√£ k·∫øt n·ªëi Bronze v√† Silver DB")

‚úÖ ƒê√£ k·∫øt n·ªëi Bronze v√† Silver DB

### 2. Load d·ªØ li·ªáu t·ª´ Bronze

In [42]:
orders_df = pd.read_sql("SELECT * FROM orders_raw", bronze_engine)
print("Shape:", orders_df.shape)

# Hi·ªÉn th·ªã 1 record m·∫´u ƒë·ªÉ n·∫Øm c·∫•u tr√∫c
print(json.dumps(json.loads(orders_df["raw_json"].iloc[169]), indent=2, ensure_ascii=False))

Shape: (40236, 4)
{
  "total_quantity": 2,
  "transfer_money": 0,
  "charged_by_momo": 0,
  "shop_id": 230361475,
  "prepaid": 0,
  "inserted_at": "2025-04-14T23:51:24.740907",
  "order_sources_name": "Facebook",
  "is_live_shopping": false,
  "pke_mkter": null,
  "note_image": null,
  "status": 3,
  "ads_source": "Facebook",
  "p_utm_id": null,
  "order_link": "https://pos.pages.fm/shop/230361475/order?order_id=270226784656452",
  "items_length": 2,
  "total_price": 758000,
  "tags": [
    {
      "id": 4,
      "name": "Ch∆∞a ƒë·ªëi so√°t"
    }
  ],
  "conversation_id": "461234203738139_29023387273972369",
  "assigning_care": null,
  "post_id": "461234203738139_122119738148572601",
  "p_utm_campaign": null,
  "advanced_platform_fee": {},
  "note_print": null,
  "assigning_care_id": null,
  "sub_status": null,
  "p_utm_content": null,
  "bill_email": null,
  "is_livestream": false,
  "total_price_after_sub_discount": 700000,
  "customer_needs": [],
  "marketplace_id": null,
  "total_discount": 58000,
  "customer_pay_fee": false,
  "id": 40447,
  "warehouse_info": {
    "address": "Y√™n X√°",
    "affiliate_id": null,
    "commune_id": "1012335",
    "custom_id": null,
    "district_id": "10123",
    "ffm_id": null,
    "full_address": "Y√™n X√°, X√£ T√¢n Tri·ªÅu, Huy·ªán Thanh Tr√¨, H√† N·ªôi",
    "has_snappy_service": false,
    "name": "Kho Winner",
    "phone_number": "0344663171",
    "postcode": null,
    "province_id": "101",
    "settings": null
  },
  "status_history": [
    {
      "avatar_url": null,
      "editor": null,
      "editor_fb": null,
      "editor_id": null,
      "name": null,
      "old_status": null,
      "status": 0,
      "updated_at": "2025-04-14T23:51:24"
    },
    {
      "avatar_url": null,
      "editor": {
        "avatar_url": null,
        "email": "zeguereds@hotmail.com",
        "fb_id": "978385554342647",
        "id": "ac17cafc-7ff0-4ea8-83ac-b0eb1f5c1913",
        "name": "L√Ω T√°n Kh√°nh An",
        "phone_number": null
      },
      "editor_fb": "978385554342647",
      "editor_id": "ac17cafc-7ff0-4ea8-83ac-b0eb1f5c1913",
      "name": "L√Ω T√°n Kh√°nh An",
      "old_status": 0,
      "status": 1,
      "updated_at": "2025-04-15T00:15:47"
    },
    {
      "avatar_url": null,
      "editor": {
        "avatar_url": null,
        "email": "hoanghuong99995@gmail.com",
        "fb_id": "1764134523862208",
        "id": "0f4af9e9-d919-4a5f-8748-df6268488551",
        "name": "Ho√†ng H∆∞∆°ng",
        "phone_number": null
      },
      "editor_fb": "1764134523862208",
      "editor_id": "0f4af9e9-d919-4a5f-8748-df6268488551",
      "name": "Ho√†ng H∆∞∆°ng",
      "old_status": 1,
      "status": 8,
      "updated_at": "2025-04-15T01:18:36"
    },
    {
      "avatar_url": null,
      "editor": null,
      "editor_fb": null,
      "editor_id": null,
      "name": null,
      "old_status": 8,
      "status": 2,
      "updated_at": "2025-04-15T02:32:18"
    },
    {
      "avatar_url": null,
      "editor": null,
      "editor_fb": null,
      "editor_id": null,
      "name": null,
      "old_status": 2,
      "status": 3,
      "updated_at": "2025-04-16T07:52:29"
    }
  ],
  "system_id": 40447,
  "received_at_shop": false,
  "marketer": null,
  "p_utm_source": null,
  "money_to_collect": 700000,
  "order_sources": -1,
  "p_utm_medium": null,
  "returned_reason": 10061,
  "note": "",
  "returned_reason_name": null,
  "link": null,
  "customer_referral_code": null,
  "ad_id": "120221335754700435",
  "cod": 700000,
  "assigning_seller_id": "ac17cafc-7ff0-4ea8-83ac-b0eb1f5c1913",
  "is_free_shipping": false,
  "is_smc": false,
  "shipping_address": {
    "address": "Sdt 0355024668 ho√†ng ƒê·ª©c ki√™n t√¥ 3 khu ti√™n truong",
    "commnue_name": "Th·ªã tr·∫•n Xu√¢n Mai",
    "commune_code_sicepat": null,
    "commune_id": "1014103",
    "commune_name": "Th·ªã tr·∫•n Xu√¢n Mai",
    "country_code": "84",
    "district_id": "10141",
    "district_name": "Huy·ªán Ch∆∞∆°ng M·ªπ",
    "full_address": "Sdt 0355024668 ho√†ng ƒê·ª©c ki√™n t√¥ 3 khu ti√™n truong, Th·ªã tr·∫•n Xu√¢n Mai, Huy·ªán Ch∆∞∆°ng M·ªπ, H√† N·ªôi",
    "full_name": "Kien Hoang",
    "marketplace_address": null,
    "new_commune_id": null,
    "new_full_address": null,
    "new_province_id": null,
    "phone_number": "0355024668",
    "post_code": "",
    "province_id": "101",
    "province_name": "H√† N·ªôi",
    "render_type": null
  },
  "p_utm_term": null,
  "page_id": "461234203738139",
  "tax": 0,
  "partner": {
    "cod": 0,
    "count_of_delivery": 1,
    "custom_partner_id": null,
    "delivery_name": "Nguy·ªÖn Ng·ªçc Duy",
    "delivery_tel": "0985391956",
    "extend_code": "WINNER_1004_LAT5S230361475O40447",
    "extend_update": [
      {
        "key": "f2cbdb46-764b-42c2-9e21-4e9578712ea5",
        "location": "HNI, XMI, B∆∞u c·ª•c Xu√¢n Mai - HNI - H√† N·ªôi, 0335682111, 156101, TH·ªä TR·∫§N XU√ÇN MAI",
        "note": "Kien Hoang - B∆∞u t√°: Nguy·ªÖn Ng·ªçc Duy - 0985391956",
        "status": "Th√†nh c√¥ng - Ph√°t th√†nh c√¥ng",
        "tracking_id": "WINNER_1004_LAT5S230361475O40447",
        "updated_at": "2025-04-16T07:52:29.096399",
        "webhook_params": null
      },
      {
        "key": "2b8da9ac-7613-425e-a57d-615dea214e7b",
        "location": "HNI, XMI, B∆∞u c·ª•c Xu√¢n Mai - HNI - H√† N·ªôi, 0335682111, 156101, TH·ªä TR·∫§N XU√ÇN MAI",
        "note": "Kh√°ch h√†ng nh·∫≠n ƒë·∫øn t·ªß l·∫•y h√†ng - B∆∞u t√°: Nguy·ªÖn Ng·ªçc Duy - 0985391956",
        "status": "T·ªìn - Kh√°ch h√†ng ngh·ªâ, kh√¥ng c√≥ nh√†",
        "tracking_id": "WINNER_1004_LAT5S230361475O40447",
        "updated_at": "2025-04-16T04:30:19.423063",
        "webhook_params": null
      },
      {
        "key": "7cf52102-d700-466d-bef3-44c51dd09dfd",
        "location": "HNI, XMI, B∆∞u c·ª•c Xu√¢n Mai - HNI - H√† N·ªôi, 0335682111, 156101, TH·ªä TR·∫§N XU√ÇN MAI",
        "note": "Ph√¢n c√¥ng ph√°t - B∆∞u t√°: Nguy·ªÖn Ng·ªçc Duy - 0985391956",
        "status": "Giao b∆∞u t√° ƒëi ph√°t",
        "tracking_id": "WINNER_1004_LAT5S230361475O40447",
        "updated_at": "2025-04-16T01:28:08.850087",
        "webhook_params": null
      },
      {
        "key": "eacc7f4f-d8f4-4bcb-960f-bdf12945383d",
        "location": "HNI, XMI, B∆∞u c·ª•c Xu√¢n Mai - HNI - H√† N·ªôi, 0335682111, 156101, TH·ªä TR·∫§N XU√ÇN MAI",
        "note": "Nhan tai - B∆∞u t√°: D∆∞∆°ng ƒê√¨nh T·∫°i - 0969145270",
        "status": "Nh·∫≠n b·∫£ng k√™ ƒë·∫øn",
        "tracking_id": "WINNER_1004_LAT5S230361475O40447",
        "updated_at": "2025-04-16T01:20:46.051913",
        "webhook_params": null
      },
      {
        "key": "27422a0c-e02c-432d-8b9f-e596b2d98dad",
        "location": "HNI, TTKT1, Trung t√¢m khai th√°c 1 - H√† N·ªôi, 0869578091, 128013, PH∆Ø·ªúNG MINH KHAI",
        "note": "Van chuyen di - B∆∞u t√°: Nguy·ªÖn VƒÉn B·ªô - 0364579345",
        "status": "ƒê√≥ng b·∫£ng k√™ ƒëi",
        "tracking_id": "WINNER_1004_LAT5S230361475O40447",
        "updated_at": "2025-04-15T18:46:59.602377",
        "webhook_params": null
      },
      {
        "key": "ab3892d2-12cf-47dc-930e-273daf7847fc",
        "location": "HNI, CHYXA, B∆∞u c·ª•c Y√™n X√° - HNI - H√† N·ªôi, 0335395111, 134016, X√É T√ÇN TRI·ªÄU",
        "note": "Van chuyen di - B∆∞u t√°: Nguy·ªÖn Th√†nh Lu√¢n - 0364274000",
        "status": "ƒê√≥ng b·∫£ng k√™ ƒëi",
        "tracking_id": "WINNER_1004_LAT5S230361475O40447",
        "updated_at": "2025-04-15T09:58:13.158386",
        "webhook_params": null
      },
      {
        "key": "7df7c426-7c05-4d8e-bf23-85b393b682ff",
        "location": "HNI, CHYXA, B∆∞u c·ª•c Y√™n X√° - HNI - H√† N·ªôi, 0335395111, 134016, X√É T√ÇN TRI·ªÄU",
        "note": "Nh·∫≠p doanh thu - B∆∞u t√°: ƒê·∫∑ng Qu·ªëc  Kh√°nh - 0585806031",
        "status": "Nh·∫≠n t·ª´ b∆∞u t√° - B∆∞u c·ª•c g·ªëc",
        "tracking_id": "WINNER_1004_LAT5S230361475O40447",
        "updated_at": "2025-04-15T02:32:18.846082",
        "webhook_params": null
      },
      {
        "key": "01a124dd-274d-4034-a753-41c19bda4431",
        "location": "HNI, CHYXA, B∆∞u c·ª•c Y√™n X√° - HNI - H√† N·ªôi, 0335395111, 134016, X√É T√ÇN TRI·ªÄU",
        "note": "Ph√¢n c√¥ng b∆∞u t√° nh·∫≠n h√†ng",
        "status": "Giao cho B∆∞u t√° ƒëi nh·∫≠n",
        "tracking_id": "WINNER_1004_LAT5S230361475O40447",
        "updated_at": "2025-04-15T01:19:36.383758",
        "webhook_params": null
      }
    ],
    "first_delivery_at": "2025-04-16T01:28:08",
    "is_ghn_v2": null,
    "is_returned": null,
    "order_id_ghn": null,
    "order_number_vtp": "PKE1099053093",
    "paid_at": null,
    "partner_id": 3,
    "partner_name": "VTP",
    "partner_status": "delivered",
    "picked_up_at": "2025-04-15T02:32:18",
    "printed_form": null,
    "service_partner": {
      "CUS_ID": "10385769",
      "DELIVERY_DATE": "16/04/2025 08:18:00",
      "GROUPADDRESS_ID": 22594460,
      "LIST_ITEM": [
        {
          "PRODUCT_NAME": "√Åo thu ƒë√¥ng.W028,M√†u:Tr·∫Øng,Size:S",
          "PRODUCT_PRICE": 379000,
          "PRODUCT_QUANTITY": 1,
          "PRODUCT_WEIGHT": 0
        },
        {
          "PRODUCT_NAME": "√Åo thu ƒë√¥ng.W028,M√†u:Xanh Than,Size:S",
          "PRODUCT_PRICE": 379000,
          "PRODUCT_QUANTITY": 1,
          "PRODUCT_WEIGHT": 0
        }
      ],
      "MONEY_COLLECTION": 700000,
      "ORDER_NOTE": "",
      "ORDER_NUMBER": "WINNER_1004_LAT5S230361475O40447",
      "ORDER_PAYMENT": 3,
      "ORDER_SERVICE": "ECOD",
      "ORDER_SERVICE_ADD": null,
      "ORDER_VOUCHER": "",
      "PRODUCT_HEIGHT": 0,
      "PRODUCT_LENGTH": 0,
      "PRODUCT_NAME": "1 x √Åo thu ƒë√¥ng.W028/ M√†u:Tr·∫Øng, Size:S, 1 x √Åo thu ƒë√¥ng.W028/ M√†u:Xanh Than, Size:S",
      "PRODUCT_PRICE": 758000,
      "PRODUCT_QUANTITY": 2,
      "PRODUCT_TYPE": "HH",
      "PRODUCT_WEIGHT": 500,
      "PRODUCT_WIDTH": 0,
      "RECEIVER_ADDRESS": "Sdt 0355024668 ho√†ng ƒê·ª©c ki√™n t√¥ 3 khu ti√™n truong",
      "RECEIVER_DISTRICT": "6",
      "RECEIVER_FULLNAME": "Kien Hoang",
      "RECEIVER_PHONE": "0355024668",
      "RECEIVER_PROVINCE": "1",
      "RECEIVER_WARD": "114",
      "SENDER_ADDRESS": "Y√™n X√°",
      "SENDER_DISTRICT": "12",
      "SENDER_FULLNAME": "Kho Winner",
      "SENDER_PHONE": "0344663171",
      "SENDER_PROVINCE": "1",
      "SENDER_WARD": "248",
      "partner_id": 3
    },
    "sort_code": null,
    "system_created": true,
    "total_fee": 0,
    "updated_at": "2025-04-16T07:52:29"
  },
  "link_confirm_order": "https://order.pke.gg/tracking?id=RyvKXPdNWkGlh2Wk8g70JuPQ%2BUqBfjyAAFEOnAJxxEF0hZ5QgjMFwpCtgdQXxxFV4UuXGXw%2F29X9AYXWej2DqwS6XyesHSg%3D",
  "partner_fee": 17000,
  "creator": null,
  "time_assign_seller": "2025-04-15T00:15:44",
  "page": {
    "id": "461234203738139",
    "name": "Fame Outlet",
    "username": "fameo28"
  },
  "time_assign_care": null,
  "surcharge": 0,
  "shipping_fee": 0,
  "customer": {
    "current_debts": 0,
    "shop_id": 230361475,
    "inserted_at": "2025-02-19T01:19:40",
    "purchased_amount": 1309000,
    "referral_code": "0l6OJMxt",
    "conversation_tags": null,
    "name": "Kien Hoang",
    "tags": [],
    "total_amount_referred": null,
    "is_block": false,
    "phone_numbers": [
      "0355024668"
    ],
    "fb_id": "452035457994984_9552570744836135",
    "date_of_birth": null,
    "succeed_order_count": 2,
    "id": "2ba2e809-1247-4c19-9a4f-dec72eecd279",
    "shop_customer_addresses": [
      {
        "address": "Sdt 0355024668 ho√†ng ƒê·ª©c ki√™n t√¥ 3 khu ti√™n truong",
        "commune_id": "1014103",
        "country_code": 84,
        "district_id": "10141",
        "full_address": "Sdt 0355024668 ho√†ng ƒê·ª©c ki√™n t√¥ 3 khu ti√™n truong, Th·ªã tr·∫•n Xu√¢n Mai, Huy·ªán Ch∆∞∆°ng M·ªπ, H√† N·ªôi",
        "full_name": "Kien Hoang",
        "id": "04b91b18-93d3-41f2-8f5d-bec2a6c3cbb7",
        "phone_number": "0355024668",
        "post_code": null,
        "province_id": "101"
      }
    ],
    "reward_point": 0,
    "order_sources": [
      "-1"
    ],
    "emails": [],
    "creator_id": null,
    "gender": "male",
    "used_reward_point": 0,
    "user_block_id": null,
    "username": null,
    "conversation_link": "https://pancake.vn/452035457994984?customer_id=eef5b04c-5028-431e-9b7b-8ecf0b534a57",
    "order_count": 2,
    "is_adjust_debts": null,
    "is_discount_by_level": true,
    "level": null,
    "updated_at": "2025-02-19T01:19:40",
    "list_voucher": [],
    "count_referrals": 0,
    "last_order_at": "2025-04-16T07:52:29",
    "notes": [],
    "assigned_user_id": null,
    "returned_order_count": 0,
    "customer_id": "eef5b04c-5028-431e-9b7b-8ecf0b534a57",
    "active_levera_pay": false,
    "currency": "VND"
  },
  "is_exchange_order": false,
  "exchange_value": 0,
  "return_fee": null,
  "bill_phone_number": "0355024668",
  "cash": 0,
  "estimate_delivery_date": null,
  "bank_payments": {},
  "activated_promotion_advances": [],
  "charged_by_card": 0,
  "activated_combo_products": [],
  "account": "461234203738139",
  "assigning_seller": {
    "avatar_url": null,
    "email": "zeguereds@hotmail.com",
    "fb_id": "978385554342647",
    "id": "ac17cafc-7ff0-4ea8-83ac-b0eb1f5c1913",
    "name": "L√Ω T√°n Kh√°nh An",
    "phone_number": null
  },
  "payment_purchase_histories": [],
  "buyer_total_amount": null,
  "charged_by_qrpay": 0,
  "updated_at": "2025-04-16T07:52:29.203537",
  "botcake_info": null,
  "last_editor": null,
  "partner_account": {
    "name": null,
    "user_name": "0334238815"
  },
  "fee_marketplace": 0,
  "account_name": "Fame Outlet",
  "items": [
    {
      "added_to_cart_quantity": 1,
      "components": null,
      "composite_item_id": null,
      "discount_each_product": 0,
      "exchange_count": 0,
      "id": 9314280830,
      "is_bonus_product": false,
      "is_composite": null,
      "is_discount_percent": false,
      "is_wholesale": false,
      "measure_group_id": null,
      "note": null,
      "note_product": "",
      "one_time_product": false,
      "product_id": "7c6bbb64-b133-440b-8bcf-5342d5c49567",
      "quantity": 1,
      "return_quantity": 0,
      "returned_count": 0,
      "returning_quantity": 0,
      "same_price_discount": 0,
      "total_discount": 0,
      "variation_id": "ed2de062-55ab-4778-ae10-1addfc7a3dab",
      "variation_info": {
        "barcode": "88-24",
        "brand_id": null,
        "category_ids": [
          86775
        ],
        "detail": "M√†u: Tr·∫Øng, Size: S",
        "display_id": "WINNER-AOTHUDONG.W028-TRANG-S",
        "exact_price": 0,
        "fields": [
          {
            "id": "d98a2750-0c3f-467b-a33a-db4f8bd29146",
            "keyValue": "TRANG",
            "name": "M√†u",
            "value": "Tr·∫Øng"
          },
          {
            "id": "e4e65ee1-bdf2-4613-83c6-41dce055c19f",
            "keyValue": "S",
            "name": "Size",
            "value": "S"
          }
        ],
        "images": [
          "https://content.pancake.vn/2-24/2024/12/5/881ba032f8cb3c265f767701c4ca787685e7e117.jpg"
        ],
        "last_imported_price": 0,
        "measure_info": null,
        "name": "√Åo thu ƒë√¥ng.W028",
        "product_display_id": "WINNER - √Åo thu ƒë√¥ng.W028",
        "retail_price": 379000,
        "retail_price_original": null,
        "tax_rate": 0.0,
        "weight": 0
      }
    },
    {
      "added_to_cart_quantity": 1,
      "components": null,
      "composite_item_id": null,
      "discount_each_product": 0,
      "exchange_count": 0,
      "id": 9314280829,
      "is_bonus_product": false,
      "is_composite": null,
      "is_discount_percent": false,
      "is_wholesale": false,
      "measure_group_id": null,
      "note": null,
      "note_product": "",
      "one_time_product": false,
      "product_id": "7c6bbb64-b133-440b-8bcf-5342d5c49567",
      "quantity": 1,
      "return_quantity": 0,
      "returned_count": 0,
      "returning_quantity": 0,
      "same_price_discount": 0,
      "total_discount": 0,
      "variation_id": "f0778ab1-a26e-4c72-939b-c2daf26c35f6",
      "variation_info": {
        "barcode": "88-14",
        "brand_id": null,
        "category_ids": [
          86775
        ],
        "detail": "M√†u: Xanh Than, Size: S",
        "display_id": "WINNER-AOTHUDONG.W028-XANH THAN-S",
        "exact_price": 0,
        "fields": [
          {
            "id": "571f4379-8639-49ce-bd50-cf925a2dacf5",
            "keyValue": "XANH THAN",
            "name": "M√†u",
            "value": "Xanh Than"
          },
          {
            "id": "87fd2141-8539-4248-8442-3ffa29aa1989",
            "keyValue": "S",
            "name": "Size",
            "value": "S"
          }
        ],
        "images": [
          "https://content.pancake.vn/2-24/2024/12/5/0a54e6beca5ddc0e51d0d7ff938c265d5b642d54.jpg",
          "https://content.pancake.vn/2-24/2024/12/5/881ba032f8cb3c265f767701c4ca787685e7e117.jpg"
        ],
        "last_imported_price": 0,
        "measure_info": null,
        "name": "√Åo thu ƒë√¥ng.W028",
        "product_display_id": "WINNER - √Åo thu ƒë√¥ng.W028",
        "retail_price": 379000,
        "retail_price_original": null,
        "tax_rate": 0.0,
        "weight": 0
      }
    }
  ],
  "exchange_payment": 0,
  "bill_full_name": "Kien Hoang",
  "order_currency": "VND",
  "status_name": "delivered",
  "warehouse_id": "5f7aaa7d-ae3c-48b6-8f0e-04207afae074",
  "histories": [
    {
      "amount_owed": {
        "new": 0,
        "old": null
      },
      "assigning_seller_id": {
        "new": "ac17cafc-7ff0-4ea8-83ac-b0eb1f5c1913",
        "old": null
      },
      "bank_payments": {
        "new": {},
        "old": null
      },
      "discount": {
        "new": 58000,
        "old": 0
      },
      "editor_id": "ac17cafc-7ff0-4ea8-83ac-b0eb1f5c1913",
      "is_customer_level": {
        "new": false,
        "old": null
      },
      "is_reward_point": {
        "new": true,
        "old": null
      },
      "items": [
        {
          "new": {
            "discount_each_product": 0,
            "id": 9314280829,
            "is_discount_percent": false,
            "quantity": 1,
            "variation_info": {
              "fields": [
                {
                  "id": "571f4379-8639-49ce-bd50-cf925a2dacf5",
                  "keyValue": "XANH THAN",
                  "name": "M√†u",
                  "value": "Xanh Than"
                },
                {
                  "id": "87fd2141-8539-4248-8442-3ffa29aa1989",
                  "keyValue": "S",
                  "name": "Size",
                  "value": "S"
                }
              ],
              "measure_info": null,
              "name": "√Åo thu ƒë√¥ng.W028",
              "retail_price": 379000,
              "weight": 0.0
            }
          },
          "old": null,
          "variation_id": "f0778ab1-a26e-4c72-939b-c2daf26c35f6"
        },
        {
          "new": {
            "discount_each_product": 0,
            "id": 9314280830,
            "is_discount_percent": false,
            "quantity": 1,
            "variation_info": {
              "fields": [
                {
                  "id": "d98a2750-0c3f-467b-a33a-db4f8bd29146",
                  "keyValue": "TRANG",
                  "name": "M√†u",
                  "value": "Tr·∫Øng"
                },
                {
                  "id": "e4e65ee1-bdf2-4613-83c6-41dce055c19f",
                  "keyValue": "S",
                  "name": "Size",
                  "value": "S"
                }
              ],
              "measure_info": null,
              "name": "√Åo thu ƒë√¥ng.W028",
              "retail_price": 379000,
              "weight": 0.0
            }
          },
          "old": null,
          "variation_id": "ed2de062-55ab-4778-ae10-1addfc7a3dab"
        }
      ],
      "note": {
        "new": "",
        "old": null
      },
      "prepaid_by_point": {
        "new": {
          "money": 0,
          "point": 0
        },
        "old": null

### 3: Li·ªát k√™ to√†n b·ªô keys trong JSON

In [ ]:

all_keys = set()
for raw in orders_df["raw_json"].head(200):   # scan 200 record ƒë·∫ßu
    d = json.loads(raw)
    all_keys.update(d.keys())

print("===== T·ªïng s·ªë keys:", len(all_keys), " =====")
print(sorted(all_keys))

===== T·ªïng s·ªë keys: 98  =====
['account', 'account_name', 'activated_combo_products', 'activated_promotion_advances', 'ad_id', 'ads_source', 'advanced_platform_fee', 'assigning_care', 'assigning_care_id', 'assigning_seller', 'assigning_seller_id', 'bank_payments', 'bill_email', 'bill_full_name', 'bill_phone_number', 'botcake_info', 'buyer_total_amount', 'cash', 'charged_by_card', 'charged_by_momo', 'charged_by_qrpay', 'cod', 'conversation_id', 'creator', 'customer', 'customer_needs', 'customer_pay_fee', 'customer_referral_code', 'estimate_delivery_date', 'exchange_payment', 'exchange_value', 'fee_marketplace', 'histories', 'id', 'inserted_at', 'is_exchange_order', 'is_free_shipping', 'is_live_shopping', 'is_livestream', 'is_smc', 'items', 'items_length', 'last_editor', 'levera_point', 'link', 'link_confirm_order', 'marketer', 'marketplace_id', 'money_to_collect', 'note', 'note_image', 'note_print', 'order_currency', 'order_link', 'order_sources', 'order_sources_name', 'p_utm_campaign', 'p_utm_content', 'p_utm_id', 'p_utm_medium', 'p_utm_source', 'p_utm_term', 'page', 'page_id', 'partner', 'partner_account', 'partner_fee', 'payment_purchase_histories', 'pke_mkter', 'post_id', 'prepaid', 'prepaid_by_point', 'received_at_shop', 'return_fee', 'returned_reason', 'returned_reason_name', 'shipping_address', 'shipping_fee', 'shop_id', 'status', 'status_history', 'status_name', 'sub_status', 'surcharge', 'system_id', 'tags', 'tax', 'time_assign_care', 'time_assign_seller', 'time_send_partner', 'total_discount', 'total_price', 'total_price_after_sub_discount', 'total_quantity', 'transfer_money', 'updated_at', 'warehouse_id', 'warehouse_info']

### 4. Parse JSON th√†nh Fact & Dim

In [ ]:
# ---- Fact Orders ----
def parse_order(row):
    d = json.loads(row["raw_json"])
    return {
        "order_id": d.get("id"),
        "shop_id": d.get("shop_id"),
        "page_id": d.get("page_id"),
        "customer_id": d.get("customer", {}).get("id"),
        "warehouse_id": d.get("warehouse_id"),

        "status": d.get("status"),
        "status_name": d.get("status_name"),
        "sub_status": d.get("sub_status"),

        "inserted_at": d.get("inserted_at"),
        "updated_at": d.get("updated_at"),
        "time_assign_care": d.get("time_assign_care"),
        "time_assign_seller": d.get("time_assign_seller"),
        "estimate_delivery_date": d.get("estimate_delivery_date"),

        "total_quantity": d.get("total_quantity"),
        "total_price": d.get("total_price"),
        "total_discount": d.get("total_discount"),
        "total_price_after_sub_discount": d.get("total_price_after_sub_discount"),

        "cod": d.get("cod"),
        "cash": d.get("cash"),
        "transfer_money": d.get("transfer_money"),
        "charged_by_momo": d.get("charged_by_momo"),
        "charged_by_card": d.get("charged_by_card"),
        "charged_by_qrpay": d.get("charged_by_qrpay"),
        "exchange_payment": d.get("exchange_payment"),
        "prepaid": d.get("prepaid"),

        "money_to_collect": d.get("money_to_collect"),
        "shipping_fee": d.get("shipping_fee"),
        "partner_fee": d.get("partner_fee"),
        "surcharge": d.get("surcharge"),
        "fee_marketplace": d.get("fee_marketplace"),
        "tax": d.get("tax")
    }

orders_parsed = orders_df.apply(parse_order, axis=1, result_type="expand")
print("‚úÖ fact_orders shape:", orders_parsed.shape)


# ---- Fact Order Items ----
def parse_order_items(row):
    d = json.loads(row["raw_json"])
    order_id = d.get("id")

    items = d.get("items", [])
    results = []
    for item in items:
        results.append({
            "order_id": order_id,
            "product_id": item.get("product_id"),
            "variation_id": item.get("variation_id"),
            "sku": item.get("sku"),
            "name": item.get("name"),
            "quantity": item.get("quantity"),
            "price": item.get("price"),
            "discount": item.get("discount"),
            "total_price": item.get("total_price"),
            "note": item.get("note")
        })
    return results

order_items_records = []
for _, row in orders_df.iterrows():
    order_items_records.extend(parse_order_items(row))

order_items_parsed = pd.DataFrame(order_items_records)
print("‚úÖ fact_order_items shape:", order_items_parsed.shape)


# ---- Dim Pages ----
def parse_page(row):
    d = json.loads(row["raw_json"])
    page = d.get("page", {})
    return {
        "page_id": page.get("id"),
        "page_name": page.get("name"),
        "page_username": page.get("username"),
        "account": d.get("account"),
        "account_name": d.get("account_name")
    }

pages_parsed = orders_df.apply(parse_page, axis=1, result_type="expand").drop_duplicates("page_id")
print("‚úÖ dim_pages shape:", pages_parsed.shape)


# ---- Dim Warehouses ----
def parse_warehouse(row):
    d = json.loads(row["raw_json"])
    wh = d.get("warehouse_info", {})
    return {
        "warehouse_id": d.get("warehouse_id"),
        "warehouse_name": wh.get("name"),
        "warehouse_address": wh.get("full_address"),
        "province_id": wh.get("province_id"),
        "district_id": wh.get("district_id"),
        "commune_id": wh.get("commune_id"),
        "phone_number": wh.get("phone_number")
    }

warehouses_parsed = orders_df.apply(parse_warehouse, axis=1, result_type="expand").drop_duplicates("warehouse_id")
print("‚úÖ dim_warehouses shape:", warehouses_parsed.shape)


# ---- Dim Shipping Addresses ----
def parse_shipping_address(row):
    d = json.loads(row["raw_json"])
    sa = d.get("shipping_address", {})
    return {
        "order_id": d.get("id"),
        "full_name": sa.get("full_name"),
        "phone_number": sa.get("phone_number"),
        "full_address": sa.get("full_address"),
        "province_id": sa.get("province_id"),
        "province_name": sa.get("province_name"),
        "district_id": sa.get("district_id"),
        "district_name": sa.get("district_name"),
        "commune_id": sa.get("commune_id"),
        "commune_name": sa.get("commune_name")
    }

shipping_addresses_parsed = orders_df.apply(parse_shipping_address, axis=1, result_type="expand")
print("‚úÖ dim_shipping_addresses shape:", shipping_addresses_parsed.shape)

‚úÖ fact_orders shape: (40236, 31)
‚úÖ fact_order_items shape: (46611, 10)
‚úÖ dim_pages shape: (74, 5)
‚úÖ dim_warehouses shape: (24, 7)
‚úÖ dim_shipping_addresses shape: (40236, 10)

### 5. Data Quality Check

In [ ]:


def data_quality_report(df, pk=None, sample_n=3):
    report = []
    for col in df.columns:
        null_pct = df[col].isna().mean() * 100
        unique_cnt = df[col].nunique(dropna=True)
        sample_vals = df[col].dropna().unique()[:sample_n]

        report.append({
            "column": col,
            "dtype": str(df[col].dtype),
            "null_%": round(null_pct, 2),
            "unique_count": unique_cnt,
            "sample_values": sample_vals
        })
    report_df = pd.DataFrame(report)

    if pk:
        dup_cnt = df.duplicated(subset=pk).sum()
        print(f"üîç Duplicate check on {pk}: {dup_cnt} duplicate rows found")

    return report_df

# Ch·∫°y check cho t·ª´ng b·∫£ng
dq_orders = data_quality_report(orders_parsed, pk=["order_id"])
dq_order_items = data_quality_report(order_items_parsed, pk=["order_id","product_id","variation_id"])
dq_pages = data_quality_report(pages_parsed, pk=["page_id"])
dq_warehouses = data_quality_report(warehouses_parsed, pk=["warehouse_id"])
dq_shipping = data_quality_report(shipping_addresses_parsed, pk=["order_id"])

# Hi·ªÉn th·ªã m·ªôt s·ªë k·∫øt qu·∫£
print("\n=== FACT ORDERS ===")
display(dq_orders)

print("\n=== FACT ORDER ITEMS ===")
display(dq_order_items)

print("\n=== DIM PAGES ===")
display(dq_pages)

print("\n=== DIM WAREHOUSES ===")
display(dq_warehouses)

print("\n=== DIM SHIPPING ADDRESSES ===")
display(dq_shipping)

üîç Duplicate check on ['order_id']: 0 duplicate rows found
üîç Duplicate check on ['order_id', 'product_id', 'variation_id']: 625 duplicate rows found
üîç Duplicate check on ['page_id']: 0 duplicate rows found
üîç Duplicate check on ['warehouse_id']: 0 duplicate rows found
üîç Duplicate check on ['order_id']: 0 duplicate rows found

=== FACT ORDERS ===

,column,dtype,null_%,unique_count,sample_values
0,order_id,object,0.00,40236,"[40616, 40615, 40614]"
1,shop_id,int64,0.00,1,[230361475]
2,page_id,object,0.02,73,"[377626778776391, 492088430643389, 43323114319..."
3,customer_id,object,0.00,36080,"[e906c5c7-ea19-42e5-a971-57cf09c94417, 6c5b40d..."
4,warehouse_id,object,0.00,24,"[5f7aaa7d-ae3c-48b6-8f0e-04207afae074, a0b8988..."
5,status,int64,0.00,7,"[0, 6, 5]"
6,status_name,object,0.00,7,"[new, canceled, returned]"
7,sub_status,float64,99.95,1,[1.0]
8,inserted_at,object,0.00,40236,"[2025-08-16T02:19:59.079610, 2025-08-15T12:56:..."
9,updated_at,object,0.00,40236,"[2025-08-16T02:19:59.339020, 2025-08-15T12:56:..."
10,time_assign_care,object,99.45,221,"[2025-01-12T02:26:02, 2025-01-09T07:27:57, 202..."
11,time_assign_seller,object,9.10,36432,"[2025-04-17T05:29:32, 2025-04-16T02:54:43, 202..."
12,estimate_delivery_date,object,100.00,0,[]
13,total_quantity,int64,0.00,19,"[0, 1, 3]"
14,total_price,int64,0.00,294,"[0, 629000, 649000]"
15,total_discount,int64,0.00,349,"[0, 270000, 400000]"
16,total_price_after_sub_discount,int64,0.00,442,"[0, 359000, 249000]"
17,cod,int64,0.00,451,"[0, 359000, 249000]"
18,cash,int64,0.00,1,[0]
19,transfer_money,int64,0.00,33,"[0, 359000, 200000]"
20,charged_by_momo,int64,0.00,1,[0]
21,charged_by_card,int64,0.00,1,[0]
22,charged_by_qrpay,int64,0.00,1,[0]
23,exchange_payment,int64,0.00,1,[0]
24,prepaid,int64,0.00,33,"[0, 359000, 200000]"
25,money_to_collect,int64,0.00,442,"[0, 359000, 249000]"
26,shipping_fee,int64,0.00,21,"[0, 20000, 10000]"
27,partner_fee,int64,0.00,29,"[0, 17000, 24000]"
28,surcharge,float64,0.00,1,[0.0]
29,fee_marketplace,int64,0.00,1,[0]
30,tax,int64,0.00,1,[0]

=== FACT ORDER ITEMS ===

,column,dtype,null_%,unique_count,sample_values
0,order_id,object,0.0,34728,"[40458, 40455, 40454]"
1,product_id,object,0.0,85,"[358156d8-2777-4aab-b584-a26813fb4b95, ea5b416..."
2,variation_id,object,0.0,833,"[847cf093-8f90-4f01-85ae-800ec31432a1, 4e1af64..."
3,sku,object,100.0,0,[]
4,name,object,100.0,0,[]
5,quantity,int64,0.0,5,"[1, 0, 2]"
6,price,object,100.0,0,[]
7,discount,object,100.0,0,[]
8,total_price,object,100.0,0,[]
9,note,object,100.0,0,[]

=== DIM PAGES ===

,column,dtype,null_%,unique_count,sample_values
0,page_id,object,1.35,73,"[377626778776391, 492088430643389, 43323114319..."
1,page_name,object,1.35,72,"[Duy M·∫°nh Authentic, S√πn Outlet, ƒêƒÉng Authentic]"
2,page_username,object,55.41,33,"[duymanhauth10, sunoutl, dangauth2006]"
3,account,object,1.35,73,"[377626778776391, 492088430643389, 43323114319..."
4,account_name,object,0.00,73,"[Duy M·∫°nh Authentic, S√πn Outlet, ƒêƒÉng Authentic]"

=== DIM WAREHOUSES ===

,column,dtype,null_%,unique_count,sample_values
0,warehouse_id,object,0.00,24,"[5f7aaa7d-ae3c-48b6-8f0e-04207afae074, a0b8988..."
1,warehouse_name,object,0.00,3,"[Kho Winner, Kho m·∫∑c ƒë·ªãnh, Kho ho√†n]"
2,warehouse_address,object,91.67,2,"[Y√™n X√°, X√£ T√¢n Tri·ªÅu, Huy·ªán Thanh Tr√¨, H√† N·ªôi..."
3,province_id,object,91.67,1,[101]
4,district_id,object,91.67,2,"[10123, 10108]"
5,commune_id,object,91.67,2,"[1012335, 1010815]"
6,phone_number,object,91.67,1,[0344663171]

=== DIM SHIPPING ADDRESSES ===

,column,dtype,null_%,unique_count,sample_values
0,order_id,object,0.00,40236,"[40616, 40615, 40614]"
1,full_name,object,0.00,25327,"[Thinh Bui, Truong Minh, Quach Quach]"
2,phone_number,object,0.03,36100,"[0903693389, 0907809070, 0986533988]"
3,full_address,object,0.00,32550,"[, th√¥n Th√°i s∆°n, X√£ ƒê√¨nh Chu, Huy·ªán L·∫≠p Th·∫°ch..."
4,province_id,object,11.63,63,"[104, 101, 701]"
5,province_name,object,11.75,63,"[Vƒ©nh Ph√∫c, H√† N·ªôi, H·ªì Ch√≠ Minh]"
6,district_id,object,11.66,701,"[10403, 10114, 70131]"
7,district_name,object,11.76,693,"[Huy·ªán L·∫≠p Th·∫°ch, Qu·∫≠n Long Bi√™n, Qu·∫≠n Ph√∫ Nhu·∫≠n]"
8,commune_id,object,11.67,7343,"[1040371, 1011411, 7013103]"
9,commune_name,object,11.77,5614,"[X√£ ƒê√¨nh Chu, Ph∆∞·ªùng Th∆∞·ª£ng Thanh, Ph∆∞·ªùng 2]"

### 6. Drop high-null columns (>70%) v√† √©p ki·ªÉu d·ªØ li·ªáu

In [ ]:
def drop_high_nulls(df, threshold=0.7):
    cols_to_drop = [col for col in df.columns if df[col].isna().mean() > threshold]
    print(f"‚ö†Ô∏è Dropping {len(cols_to_drop)} columns (>{threshold*100}% null): {cols_to_drop}")
    return df.drop(columns=cols_to_drop)

orders_clean = drop_high_nulls(orders_parsed)
order_items_clean = drop_high_nulls(order_items_parsed)
pages_clean = drop_high_nulls(pages_parsed)
warehouses_clean = drop_high_nulls(warehouses_parsed)
shipping_clean = drop_high_nulls(shipping_addresses_parsed)

‚ö†Ô∏è Dropping 3 columns (>70.0% null): ['sub_status', 'time_assign_care', 'estimate_delivery_date']
‚ö†Ô∏è Dropping 6 columns (>70.0% null): ['sku', 'name', 'price', 'discount', 'total_price', 'note']
‚ö†Ô∏è Dropping 0 columns (>70.0% null): []
‚ö†Ô∏è Dropping 5 columns (>70.0% null): ['warehouse_address', 'province_id', 'district_id', 'commune_id', 'phone_number']
‚ö†Ô∏è Dropping 0 columns (>70.0% null): []

In [50]:
orders_clean.info()
print('Checktype')
order_items_clean.info()
print('Checktype')
pages_clean.info()
print('Checktype')
warehouses_clean.info()
print('Checktype')
shipping_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40236 entries, 0 to 40235
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   order_id                        40236 non-null  object
 1   shop_id                         40236 non-null  int64
 2   page_id                         40226 non-null  object
 3   customer_id                     40236 non-null  object
 4   warehouse_id                    40236 non-null  object
 5   status                          40236 non-null  int64
 6   status_name                     40236 non-null  object
 7   inserted_at                     40236 non-null  object
 8   updated_at                      40236 non-null  object
 9   time_assign_seller              36574 non-null  object
 10  total_quantity                  40236 non-null  int64
 11  total_price                     40236 non-null  int64
 12  total_discount                  40236 non-null  int64
 13  total_price_after_sub_discount  40236 non-null  int64
 14  cod                             40236 non-null  int64
 15  cash                            40236 non-null  int64
 16  transfer_money                  40236 non-null  int64
 17  charged_by_momo                 40236 non-null  int64
 18  charged_by_card                 40236 non-null  int64
 19  charged_by_qrpay                40236 non-null  int64
 20  exchange_payment                40236 non-null  int64
 21  prepaid                         40236 non-null  int64
 22  money_to_collect                40236 non-null  int64
 23  shipping_fee                    40236 non-null  int64
 24  partner_fee                     40236 non-null  int64
 25  surcharge                       40235 non-null  float64
 26  fee_marketplace                 40236 non-null  int64
 27  tax                             40236 non-null  int64
dtypes: float64(1), int64(19), object(8)
memory usage: 8.6+ MB
Checktype
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46611 entries, 0 to 46610
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      46611 non-null  object
 1   product_id    46611 non-null  object
 2   variation_id  46611 non-null  object
 3   quantity      46611 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.4+ MB
Checktype
<class 'pandas.core.frame.DataFrame'>
Index: 74 entries, 0 to 35934
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   page_id        73 non-null     object
 1   page_name      73 non-null     object
 2   page_username  33 non-null     object
 3   account        73 non-null     object
 4   account_name   74 non-null     object
dtypes: object(5)
memory usage: 3.5+ KB
Checktype
<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, 0 to 40127
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   warehouse_id    24 non-null     object
 1   warehouse_name  24 non-null     object
dtypes: object(2)
memory usage: 576.0+ bytes
Checktype
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40236 entries, 0 to 40235
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       40236 non-null  object
 1   full_name      40236 non-null  object
 2   phone_number   40222 non-null  object
 3   full_address   40236 non-null  object
 4   province_id    35558 non-null  object
 5   province_name  35509 non-null  object
 6   district_id    35546 non-null  object
 7   district_name  35505 non-null  object
 8   commune_id     35541 non-null  object
 9   commune_name   35501 non-null  object
dtypes: object(10)
memory usage: 3.1+ MB

In [53]:
dtype_fact_orders = {
    "order_id": VARCHAR(100),           # object (id d·∫°ng chu·ªói)
    "shop_id": BigInteger(),            # int64
    "page_id": VARCHAR(100),            # object
    "customer_id": VARCHAR(100),        # object
    "warehouse_id": VARCHAR(100),       # object

    "status": Integer(),                # int64
    "status_name": VARCHAR(50),         # object

    "inserted_at": DateTime(),          # object -> datetime
    "updated_at": DateTime(),
    "time_assign_seller": DateTime(),   # c√≥ null

    "total_quantity": Integer(),        # int64
    "total_price": BigInteger(),        # int64 (gi√° tr·ªã ti·ªÅn l·ªõn)
    "total_discount": BigInteger(),
    "total_price_after_sub_discount": BigInteger(),

    "cod": BigInteger(),
    "cash": BigInteger(),
    "transfer_money": BigInteger(),
    "charged_by_momo": BigInteger(),
    "charged_by_card": BigInteger(),
    "charged_by_qrpay": BigInteger(),
    "exchange_payment": BigInteger(),
    "prepaid": BigInteger(),

    "money_to_collect": BigInteger(),
    "shipping_fee": BigInteger(),
    "partner_fee": BigInteger(),
    "surcharge": Float(),               # float64
    "fee_marketplace": BigInteger(),
    "tax": BigInteger()
}

In [54]:
dtype_fact_order_items = {
    "order_id": VARCHAR(100),           # object
    "product_id": VARCHAR(100),         # object
    "variation_id": VARCHAR(100),       # object
    "quantity": Integer()               # int64
}

In [55]:
dtype_dim_pages = {
    "page_id": VARCHAR(100),
    "page_name": VARCHAR(255),
    "page_username": VARCHAR(255),
    "account": VARCHAR(100),
    "account_name": VARCHAR(255)
}

In [56]:
dtype_dim_warehouses = {
    "warehouse_id": VARCHAR(100),
    "warehouse_name": VARCHAR(255)
}

In [57]:
dtype_dim_shipping = {
    "order_id": VARCHAR(100),
    "full_name": VARCHAR(255),
    "phone_number": VARCHAR(50),
    "full_address": Text(),
    "province_id": VARCHAR(50),
    "province_name": VARCHAR(100),
    "district_id": VARCHAR(50),
    "district_name": VARCHAR(100),
    "commune_id": VARCHAR(50),
    "commune_name": VARCHAR(100)
}

In [58]:
# √âp ki·ªÉu datetime cho orders_clean
for col in ["inserted_at", "updated_at", "time_assign_seller"]:
    orders_clean[col] = pd.to_datetime(orders_clean[col], errors="coerce")

### 7. Load v√†o Silver

In [59]:
orders_clean.to_sql("fact_orders", silver_engine, if_exists="replace", index=False, dtype=dtype_fact_orders)
order_items_clean.to_sql("fact_order_items", silver_engine, if_exists="replace", index=False, dtype=dtype_fact_order_items)
pages_clean.to_sql("dim_pages", silver_engine, if_exists="replace", index=False, dtype=dtype_dim_pages)
warehouses_clean.to_sql("dim_warehouses", silver_engine, if_exists="replace", index=False, dtype=dtype_dim_warehouses)
shipping_clean.to_sql("dim_shipping_addresses", silver_engine, if_exists="replace", index=False, dtype=dtype_dim_shipping)

print("üöÄ Loaded all cleaned & typed tables into Silver schema successfully!")

üöÄ Loaded all cleaned & typed tables into Silver schema successfully!