## Notebook: Transform d·ªØ li·ªáu t·ª´ t·∫ßng broze l√™n t·∫ßng silver

### 1: Import & Connect DB
Cell n√†y import th∆∞ vi·ªán c·∫ßn thi·∫øt, load bi·∫øn m√¥i tr∆∞·ªùng `.env` v√† t·∫°o k·∫øt n·ªëi t·ªõi MySQL.  
- `bronze_engine` ‚Üí ƒë·ªçc d·ªØ li·ªáu g·ªëc t·ª´ schema Bronze.  
- `silver_engine` ‚Üí ghi d·ªØ li·ªáu ƒë√£ l√†m s·∫°ch sang schema Silver.  
ƒê√¢y l√† b∆∞·ªõc kh·ªüi t·∫°o, ch∆∞a c√≥ quy·∫øt ƒë·ªãnh g√¨, ch·ªâ thi·∫øt l·∫≠p m√¥i tr∆∞·ªùng.

In [1]:
import os
import json
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from dotenv import load_dotenv
from datetime import datetime

# Load bi·∫øn m√¥i tr∆∞·ªùng
load_dotenv()

DB_USER   = os.getenv("DB_USER")
DB_PASS   = os.getenv("DB_PASS")
DB_HOST   = os.getenv("DB_HOST")
DB_PORT   = os.getenv("DB_PORT")
DB_BRONZE = os.getenv("DB_BRONZE")
DB_SILVER = os.getenv("DB_SILVER")

# K·∫øt n·ªëi DB
bronze_engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_BRONZE}")
silver_engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_SILVER}")

### 2. Load d·ªØ li·ªáu t·ª´ Bronze
·ªû ƒë√¢y ch√∫ng ta:
- L·∫•y to√†n b·ªô b·∫£ng `customers_raw` t·ª´ Bronze.
- In ra s·ªë record (`Shape`).
- Hi·ªÉn th·ªã 1 record JSON th√¥ ƒë·ªÉ n·∫Øm c·∫•u tr√∫c.

üìå **Decision Point:** T·ª´ JSON m·∫´u, ta quan s√°t ƒë·ªÉ x√°c ƒë·ªãnh c√≥ nh·ªØng nh√≥m tr∆∞·ªùng n√†o (ƒë·ªãnh danh, h√†nh vi, ƒë·ªãa ch·ªâ...).

In [2]:
customers_df = pd.read_sql("SELECT * FROM customers_raw", bronze_engine)
print("Shape:", customers_df.shape)

# Hi·ªÉn th·ªã 1 record m·∫´u ƒë·ªÉ n·∫Øm c·∫•u tr√∫c
print(json.dumps(json.loads(customers_df["raw_json"].iloc[0]), indent=2, ensure_ascii=False))

Shape: (36090, 4)
{
  "returned_order_count": 0,
  "is_block": false,
  "customer_id": "c7a583d6-392d-4308-a02b-67c001ee03db",
  "count_referrals": 0,
  "username": null,
  "emails": [],
  "inserted_at": "2025-08-16T02:19:59",
  "creator": null,
  "list_voucher": [],
  "name": "Thinh Bui",
  "assigned_user_id": null,
  "last_order_at": null,
  "date_of_birth": null,
  "id": "e906c5c7-ea19-42e5-a971-57cf09c94417",
  "fb_id": "377626778776391_31407011708897267",
  "notes": [],
  "total_amount_referred": null,
  "is_adjust_debts": null,
  "is_discount_by_level": true,
  "updated_at": "2025-08-16T02:19:59",
  "conversation_link": "https://pancake.vn/377626778776391?customer_id=c7a583d6-392d-4308-a02b-67c001ee03db",
  "order_count": 1,
  "order_sources": [
    "-1"
  ],
  "tags": [],
  "succeed_order_count": 0,
  "user_block_id": null,
  "phone_numbers": [
    "0903693389"
  ],
  "reward_point": 0,
  "shop_id": 230361475,
  "current_debts": 0,
  "level": null,
  "purchased_amount": 0,
  "creator_id": null,
  "gender": "male",
  "shop_customer_addresses": [],
  "conversation_tags": null,
  "referral_code": "GM5wdxsy",
  "active_levera_pay": false,
  "currency": null,
  "used_reward_point": null
}

### 3: Li·ªát k√™ to√†n b·ªô keys trong JSON
Cell n√†y scan 200 record ƒë·∫ßu ti√™n, l·∫•y to√†n b·ªô keys xu·∫•t hi·ªán trong JSON.  
K·∫øt qu·∫£ cho ta danh s√°ch ~40 keys c·ªßa b·∫£ng customers.

üìå **Decision Point:** T·ª´ danh s√°ch n√†y, ta quy·∫øt ƒë·ªãnh ch·ªçn nh·ªØng c·ªôt quan tr·ªçng ƒë·ªÉ parse (v√≠ d·ª•: customer_id, name, gender, order_count...) v√† b·ªè c√°c c·ªôt √≠t gi√° tr·ªã (notes, creator...).

In [3]:
all_keys = set()
for raw in customers_df["raw_json"].head(200):   # scan 200 record ƒë·∫ßu
    d = json.loads(raw)
    all_keys.update(d.keys())

print("===== T·ªïng s·ªë keys:", len(all_keys), " =====")
print(sorted(all_keys))

===== T·ªïng s·ªë keys: 40  =====
['active_levera_pay', 'assigned_user_id', 'conversation_link', 'conversation_tags', 'count_referrals', 'creator', 'creator_id', 'currency', 'current_debts', 'customer_id', 'date_of_birth', 'emails', 'fb_id', 'gender', 'id', 'inserted_at', 'is_adjust_debts', 'is_block', 'is_discount_by_level', 'last_order_at', 'level', 'list_voucher', 'name', 'notes', 'order_count', 'order_sources', 'phone_numbers', 'purchased_amount', 'referral_code', 'returned_order_count', 'reward_point', 'shop_customer_addresses', 'shop_id', 'succeed_order_count', 'tags', 'total_amount_referred', 'updated_at', 'used_reward_point', 'user_block_id', 'username']

### 4: Parse & Flatten JSON
Cell n√†y ƒë·ªãnh nghƒ©a h√†m `parse_customer` ƒë·ªÉ:
- Parse JSON t·ª´ tr∆∞·ªùng `raw_json`.
- Flatten c√°c tr∆∞·ªùng nested nh∆∞ `phone_numbers`, `emails`, `order_sources`.
- Ch·ªâ ch·ªçn nh·ªØng c·ªôt quan tr·ªçng cho ph√¢n t√≠ch (ƒë·ªãnh danh, h√†nh vi, tr·∫°ng th√°i, ƒë·ªãa ch·ªâ).

K·∫øt qu·∫£: DataFrame tabular (`customers_parsed`).

üìå **Decision Point:** Sau cell n√†y, ta c√≥ b·∫£ng d·∫°ng s·∫°ch h∆°n ƒë·ªÉ ki·ªÉm tra ch·∫•t l∆∞·ª£ng d·ªØ li·ªáu.

In [4]:
def parse_customer(row):
    d = json.loads(row["raw_json"])
    addr = d.get("shop_customer_addresses")[0] if d.get("shop_customer_addresses") else {}

    return {
        # ƒê·ªãnh danh
        "customer_id": d.get("customer_id"),
        "shop_id": d.get("shop_id"),
        "name": d.get("name"),
        "gender": d.get("gender"),
        "date_of_birth": d.get("date_of_birth"),
        "phone": ",".join(d.get("phone_numbers", [])) if d.get("phone_numbers") else None,
        "email": ",".join(d.get("emails", [])) if d.get("emails") else None,
        "fb_id": d.get("fb_id"),

        # H√†nh vi mua h√†ng
        "order_count": d.get("order_count"),
        "succeed_order_count": d.get("succeed_order_count"),
        "returned_order_count": d.get("returned_order_count"),
        "purchased_amount": d.get("purchased_amount"),
        "reward_point": d.get("reward_point"),
        "used_reward_point": d.get("used_reward_point"),
        "current_debts": d.get("current_debts"),
        "count_referrals": d.get("count_referrals"),
        "total_amount_referred": d.get("total_amount_referred"),

        # Th·ªùi gian & tr·∫°ng th√°i
        "inserted_at": d.get("inserted_at"),
        "updated_at": d.get("updated_at"),
        "last_order_at": d.get("last_order_at"),
        "is_block": d.get("is_block"),
        "is_discount_by_level": d.get("is_discount_by_level"),
        "active_levera_pay": d.get("active_levera_pay"),

        # ƒê·ªãa ch·ªâ
        "province_id": addr.get("province_id"),
        "full_address": addr.get("full_address"),

        # Kh√°c
        "referral_code": d.get("referral_code"),
        "order_sources": ",".join(d.get("order_sources", [])) if d.get("order_sources") else None,
        "tags": ",".join(d.get("tags", [])) if d.get("tags") else None,
    }

customers_parsed = customers_df.apply(parse_customer, axis=1, result_type="expand")
customers_parsed.head()

,customer_id,shop_id,name,gender,date_of_birth,phone,email,fb_id,order_count,succeed_order_count,...,updated_at,last_order_at,is_block,is_discount_by_level,active_levera_pay,province_id,full_address,referral_code,order_sources,tags
0,c7a583d6-392d-4308-a02b-67c001ee03db,230361475,Thinh Bui,male,None,0903693389,None,377626778776391_31407011708897267,1,0,...,2025-08-16T02:19:59,None,False,True,False,None,None,GM5wdxsy,-1,None
1,590ba7de-e4fe-43b3-8013-27fc69937edf,230361475,Truong Minh,male,None,0907809070,None,377626778776391_24536870619280831,1,0,...,2025-08-15T12:56:50,None,False,True,False,None,None,6zqy77Bu,-1,None
2,a9e62388-57c2-4834-a87c-7c1025aea92d,230361475,Quach Quach,male,None,0986533988,None,377626778776391_24712861355019072,1,0,...,2025-08-15T12:45:17,None,False,True,False,None,None,uyMB3h6E,-1,None
3,002810c4-5e96-4882-b85a-a85122e47108,230361475,Dung Vu,male,None,0977752936,None,377626778776391_24254873767534636,1,0,...,2025-08-15T12:04:38,None,False,True,False,None,None,SnU6T9jj,-1,None
4,cd25d874-d782-40d1-8561-5507bbd6114d,230361475,Ph·∫°m M·ª•i,male,None,0774443833,None,377626778776391_30782170181397391,1,0,...,2025-08-15T10:26:23,None,False,True,False,None,None,ng7CfaOM,-1,None

### 5. Data Quality Check
M·ª•c ti√™u:
- T√≠nh t·ª∑ l·ªá null t·ª´ng c·ªôt ‚Üí quy·∫øt ƒë·ªãnh gi·ªØ/l∆∞·ª£c b·ªè.
- Check duplicate theo `customer_id`.
- In sample values cho c√°c field quan tr·ªçng (`gender`, `is_block`, `is_discount_by_level`, `active_levera_pay`).

üìå **Decision Point:** 
- N·∫øu c·ªôt null > 70% ‚Üí c√¢n nh·∫Øc drop.  
- N·∫øu c√≥ duplicate ‚Üí x√°c ƒë·ªãnh rule x·ª≠ l√Ω (gi·ªØ b·∫£n m·ªõi nh·∫•t).  
- N·∫øu c√≥ gi√° tr·ªã b·∫•t th∆∞·ªùng (vd: gender = "phi nh·ªã gi·ªõi") ‚Üí quy·∫øt ƒë·ªãnh chu·∫©n h√≥a mapping.

In [5]:
print("===== T·ªâ l·ªá null =====")
null_ratio = customers_parsed.isnull().mean().sort_values(ascending=False)
display(null_ratio)

print("===== Duplicate check (customer_id) =====")
dup_count = customers_parsed["customer_id"].duplicated().sum()
print(f"S·ªë l∆∞·ª£ng customer_id tr√πng: {dup_count}")

print("===== Sample values =====")
for col in ["gender", "is_block", "is_discount_by_level", "active_levera_pay"]:
    print(f"\n--- {col} ---")
    print(customers_parsed[col].value_counts(dropna=False).head(10))

===== T·ªâ l·ªá null =====

email                    1.000000
tags                     1.000000
total_amount_referred    1.000000
used_reward_point        1.000000
date_of_birth            0.999501
last_order_at            0.260848
gender                   0.148545
province_id              0.100887
full_address             0.100610
fb_id                    0.003741
phone                    0.002494
order_sources            0.000831
name                     0.000194
returned_order_count     0.000000
purchased_amount         0.000000
order_count              0.000000
shop_id                  0.000000
customer_id              0.000000
succeed_order_count      0.000000
reward_point             0.000000
updated_at               0.000000
inserted_at              0.000000
current_debts            0.000000
count_referrals          0.000000
active_levera_pay        0.000000
is_discount_by_level     0.000000
is_block                 0.000000
referral_code            0.000000
dtype: float64

===== Duplicate check (customer_id) =====
S·ªë l∆∞·ª£ng customer_id tr√πng: 0
===== Sample values =====

--- gender ---
gender
female          19486
male            11239
None             5361
Phi nh·ªã gi·ªõi        3
Nonbinary           1
Name: count, dtype: int64

--- is_block ---
is_block
False    36089
True         1
Name: count, dtype: int64

--- is_discount_by_level ---
is_discount_by_level
True    36090
Name: count, dtype: int64

--- active_levera_pay ---
active_levera_pay
False    36087
True         3
Name: count, dtype: int64

üìå Nh·∫≠n x√©t

- C√°c c·ªôt nh∆∞ shop_id, is_discount_by_level, is_block, active_levera_pay c√≥ t·ª∑ l·ªá l·∫∑p l·∫°i g·∫ßn 100% ‚Üí h·∫ßu nh∆∞ constant, kh√¥ng mang nhi·ªÅu gi√° tr·ªã ph√¢n t√≠ch.

- C√°c c·ªôt email, tags, total_amount_referred, used_reward_point c≈©ng v·ª´a null r·∫•t nhi·ªÅu, v·ª´a l·∫∑p g·∫ßn 100% ‚Üí lo·∫°i b·ªè l√† h·ª£p l√Ω.

- gender c√≥ t·ª∑ l·ªá l·∫∑p l·∫°i cao v√¨ ƒëa s·ªë kh√°ch l√† male/female, nh∆∞ng v·∫´n h·ªØu √≠ch cho ph√¢n t√≠ch ph√¢n kh√∫c ‚Üí n√™n gi·ªØ.

- reward_point, current_debts, count_referrals g·∫ßn nh∆∞ lu√¥n = 0 ‚Üí n·∫øu business hi·ªán ch∆∞a d√πng th√¨ c√≥ th·ªÉ t·∫°m b·ªè, nh∆∞ng n·∫øu mu·ªën track loyalty/credit th√¨ n√™n gi·ªØ.

### 6. L√†m s·∫°ch d·ªØ li·ªáu
Trong cell n√†y:
- Vi·∫øt h√†m `drop_high_null_cols` ƒë·ªÉ t·ª± ƒë·ªông drop c·ªôt null > 70%.
- Chu·∫©n h√≥a datetime (inserted_at, updated_at, last_order_at...).
- √âp ki·ªÉu numeric cho c√°c c·ªôt s·ªë.
- Chu·∫©n h√≥a `gender` v·ªÅ M/F/O.
- K·∫øt qu·∫£: DataFrame `customers_clean` ƒë√£ s·∫µn s√†ng ƒë·ªÉ load v√†o Silver.

üìå **Decision Point:** In ra danh s√°ch c·ªôt b·ªã drop. T·ª´ ƒë√≥, ta quy·∫øt ƒë·ªãnh c√≥ c·∫ßn override gi·ªØ l·∫°i c·ªôt n√†o (v√≠ d·ª• tags, date_of_birth) d√π null cao kh√¥ng.

In [6]:

def drop_high_null_cols(df, threshold=0.7):
    """
    X√≥a c√°c c·ªôt c√≥ t·ª∑ l·ªá null > threshold (m·∫∑c ƒë·ªãnh 70%).
    """
    null_ratio = df.isnull().mean()
    cols_to_drop = null_ratio[null_ratio > threshold].index.tolist()
    
    print(f"‚ö†Ô∏è C√°c c·ªôt b·ªã drop (null > {threshold*100}%): {cols_to_drop}")
    
    return df.drop(columns=cols_to_drop, errors="ignore")

# Drop c·ªôt null > 70%
customers_clean = drop_high_null_cols(customers_parsed, threshold=0.7)

# Chu·∫©n h√≥a datetime (ch·ªâ convert n·∫øu c·ªôt t·ªìn t·∫°i)
datetime_cols = ["inserted_at", "updated_at", "last_order_at", "date_of_birth"]
for col in datetime_cols:
    if col in customers_clean.columns:
        customers_clean[col] = pd.to_datetime(customers_clean[col], errors="coerce")

# √âp ki·ªÉu numeric
num_cols = [
    "order_count", "succeed_order_count", "returned_order_count",
    "purchased_amount", "reward_point", "used_reward_point",
    "current_debts", "count_referrals", "total_amount_referred"
]
for col in num_cols:
    if col in customers_clean.columns:
        customers_clean[col] = pd.to_numeric(customers_clean[col], errors="coerce")

# Chu·∫©n h√≥a gender
if "gender" in customers_clean.columns:
    customers_clean["gender"] = customers_clean["gender"].str.lower().replace({
        "male": "M", "female": "F",
        "nam": "M", "n·ªØ": "F",
        "phi nh·ªã gi·ªõi": "O", "nonbinary": "O"
    })

customers_clean.head()

‚ö†Ô∏è C√°c c·ªôt b·ªã drop (null > 70.0%): ['date_of_birth', 'email', 'used_reward_point', 'total_amount_referred', 'tags']

,customer_id,shop_id,name,gender,phone,fb_id,order_count,succeed_order_count,returned_order_count,purchased_amount,...,inserted_at,updated_at,last_order_at,is_block,is_discount_by_level,active_levera_pay,province_id,full_address,referral_code,order_sources
0,c7a583d6-392d-4308-a02b-67c001ee03db,230361475,Thinh Bui,M,0903693389,377626778776391_31407011708897267,1,0,0,0,...,2025-08-16 02:19:59,2025-08-16 02:19:59,NaT,False,True,False,None,None,GM5wdxsy,-1
1,590ba7de-e4fe-43b3-8013-27fc69937edf,230361475,Truong Minh,M,0907809070,377626778776391_24536870619280831,1,0,0,0,...,2025-08-15 12:56:50,2025-08-15 12:56:50,NaT,False,True,False,None,None,6zqy77Bu,-1
2,a9e62388-57c2-4834-a87c-7c1025aea92d,230361475,Quach Quach,M,0986533988,377626778776391_24712861355019072,1,0,0,0,...,2025-08-15 12:45:17,2025-08-15 12:45:17,NaT,False,True,False,None,None,uyMB3h6E,-1
3,002810c4-5e96-4882-b85a-a85122e47108,230361475,Dung Vu,M,0977752936,377626778776391_24254873767534636,1,0,0,0,...,2025-08-15 12:04:38,2025-08-15 12:04:38,NaT,False,True,False,None,None,SnU6T9jj,-1
4,cd25d874-d782-40d1-8561-5507bbd6114d,230361475,Ph·∫°m M·ª•i,M,0774443833,377626778776391_30782170181397391,1,0,0,0,...,2025-08-15 10:26:23,2025-08-15 10:26:23,NaT,False,True,False,None,None,ng7CfaOM,-1

### 7. Load v√†o Silver
- S·ª≠ d·ª•ng `to_sql` ƒë·ªÉ t·∫°o b·∫£ng `dim_customers`.
- `if_exists="replace"` ‚Üí ghi ƒë√® d·ªØ li·ªáu c≈©. Khi ch·∫°y production c√≥ th·ªÉ ƒë·ªïi sang `append` ƒë·ªÉ incremental load.
- D·ªØ li·ªáu l√∫c n√†y ƒë√£ s·∫°ch, c√≥ th·ªÉ join ƒë∆∞·ª£c v·ªõi c√°c b·∫£ng dimension/fact kh√°c trong Silver.

üìå **Decision Point:** 
- X√°c nh·∫≠n s·ªë record load th√†nh c√¥ng.
- Ki·ªÉm tra schema ·ªü Silver c√≥ ƒë√∫ng v·ªõi k·ª≥ v·ªçng (ki·ªÉu d·ªØ li·ªáu, s·ªë c·ªôt, s·ªë d√≤ng).

In [7]:
table_name = "dim_customers"

customers_clean.to_sql(
    table_name,
    con=silver_engine,
    if_exists="replace",   # ho·∫∑c 'append' n·∫øu incremental load
    index=False,
)

print(f"‚úÖ ƒê√£ load {customers_clean.shape[0]} records v√†o Silver: {table_name}")

‚úÖ ƒê√£ load 36090 records v√†o Silver: dim_customers

### 8. Sinh Data Dictionary
**Data Dictionary** ƒë·ªÉ m√¥ t·∫£ c·∫•u tr√∫c b·∫£ng Silver:

- `column` ‚Üí t√™n c·ªôt.
- `dtype` ‚Üí ki·ªÉu d·ªØ li·ªáu (theo pandas, c√≥ th·ªÉ map sang SQL).
- `null_pct` ‚Üí t·ª∑ l·ªá null.
- `nunique` ‚Üí s·ªë l∆∞·ª£ng gi√° tr·ªã duy nh·∫•t.
- `sample_value` ‚Üí v√≠ d·ª• 1 gi√° tr·ªã trong c·ªôt.

√ù nghƒ©a:
- Gi√∫p hi·ªÉu r√µ h∆°n ch·∫•t l∆∞·ª£ng d·ªØ li·ªáu.
- L√† t√†i li·ªáu tham chi·∫øu khi thi·∫øt k·∫ø Star Schema ·ªü Gold.
- L√† b·∫±ng ch·ª©ng cho Data Governance/Data Quality.

üìå **Decision Point:** 
- D·ª±a v√†o Data Dictionary, ki·ªÉm tra l·∫°i schema Silver c√≥ ph√π h·ª£p v·ªõi Business Requirement.
- N·∫øu thi·∫øu c·ªôt quan tr·ªçng ho·∫∑c dtype ch∆∞a chu·∫©n, c·∫ßn quay l·∫°i b∆∞·ªõc 4‚Äì6 ƒë·ªÉ ch·ªânh s·ª≠a.

In [8]:
data_dict = pd.DataFrame({
    "columns": customers_clean.columns,
    "dtype": customers_clean.dtypes.astype(str),
    "null_pct": customers_clean.isnull().mean().round(3).values,
    "nunique": customers_clean.nunique().values,
    "sample_value": customers_clean.astype(str).iloc[0].values
})

print("===== Data Dictionary (Customers Clean) =====")
data_dict

===== Data Dictionary (Customers Clean) =====

,columns,dtype,null_pct,nunique,sample_value
customer_id,customer_id,object,0.000,36090,c7a583d6-392d-4308-a02b-67c001ee03db
shop_id,shop_id,int64,0.000,1,230361475
name,name,object,0.000,25253,Thinh Bui
gender,gender,object,0.149,3,M
phone,phone,object,0.002,35716,0903693389
fb_id,fb_id,object,0.004,35955,377626778776391_31407011708897267
order_count,order_count,int64,0.000,11,1
succeed_order_count,succeed_order_count,int64,0.000,6,0
returned_order_count,returned_order_count,int64,0.000,5,0
purchased_amount,purchased_amount,int64,0.000,538,0
reward_point,reward_point,int64,0.000,1,0
current_debts,current_debts,int64,0.000,1,0
count_referrals,count_referrals,int64,0.000,1,0
inserted_at,inserted_at,datetime64[ns],0.000,35984,2025-08-16 02:19:59
updated_at,updated_at,datetime64[ns],0.000,35909,2025-08-16 02:19:59
last_order_at,last_order_at,datetime64[ns],0.261,26057,NaT
is_block,is_block,bool,0.000,2,False
is_discount_by_level,is_discount_by_level,bool,0.000,1,True
active_levera_pay,active_levera_pay,bool,0.000,2,False
province_id,province_id,object,0.101,63,None
full_address,full_address,object,0.101,32326,None
referral_code,referral_code,object,0.000,36090,GM5wdxsy
order_sources,order_sources,object,0.001,2,-1